<?xml version="1.0" encoding="UTF-8"?>								
<!DOCTYPE mapper 								
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"								
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">								
<mapper namespace="com.spms.mapper.BoardAttachMapper">
	<!-- 댓글 등록 처리 -->
	<insert id="insert">
		INSERT INTO tbl_attach(
			uuid, uploadpath, filename, filetype, bno
		)
		VALUES (
			#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{bno}
		)
	</insert>
	
	<delete id="delete">
		DELETE FROM tbl_attach
		WHERE uuid = #{uuid}
	</delete>
	
	<select id="findByBno" resultType="com.spms.domain.BoardAttachVO">
		SELECT * 
		FROM tbl_attach
		WHERE bno = #{bno}
	</select>
	<!-- 첨부파일 삭제 처리 -->
	<delete id="deleteAll">
		delete tbl_attach
		where bno = #{bno}
	</delete>
</mapper>